<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="org.seraph.module_image_search">


    <application
            android:name=".SearchImageApplication"
            android:allowBackup="true"
            android:icon="@mipmap/module_image_search_module_image_search_ic_launcher"
            android:label="@string/module_image_search_app_name"
            android:supportsRtl="true"
            android:theme="@style/LibTheme"
            tools:ignore="GoogleAppIndexingWarning"
            tools:targetApi="n">

        <activity
                android:name=".ui.ImageSearchActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>