<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="org.seraph.module_welcome">

    <application
            android:name=".WelcomeApplication"
            android:allowBackup="true"
            android:icon="@mipmap/module_welcome_ic_launcher"
            android:label="@string/module_welcome_app_name"
            android:supportsRtl="true"
            android:theme="@style/LibTheme">
        <!--欢迎页-->
        <activity
                android:name=".ui.ModuleWelcomeActivity"
                android:screenOrientation="portrait"
                android:theme="@style/module_welcome_AppTheme.WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--引导页-->
        <activity
                android:name=".ui.ModuleWelcomeGuideActivity"
                android:screenOrientation="portrait" />
    </application>

</manifest>